@import "tailwindcss";
@plugin "daisyui";

:root {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background-color: white;
}

/* body.scheme_default {
  position: relative;
  background-color: var(--theme-color-bg_color);
  overflow: hidden;
} */

/* Shimmer effect */
/* body.scheme_default::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 217, 176, 0.1) 0%,
    rgba(255, 149, 31, 0.2) 50%,
    rgba(255, 217, 176, 0.1) 100%
  );
  transform: skewX(-25deg);
  animation: shimmer 4s infinite linear;
  pointer-events: none;
  z-index: 0;
} */
/* 
@keyframes shimmer {
  0% {
    transform: translateX(-100%) skewX(-25deg);
  }
  100% {
    transform: translateX(100%) skewX(-25deg);
  }
} */

/* Ensure content is above shimmer */
/* body.scheme_default > * {
  position: relative;
  z-index: 1;
} */