.bg-offwhite-orange-shimmer {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(
    120deg,         /* angle - change for more or less tilt */
    #ffffff 0%,     /* pure white start */
    #ffffff 45%,    /* white portion ends */
    #FFF9F6 45%,    /* offwhite starts */
    #FFF9F6 100%    /* fill rest */
  );
}
.bg-offwhite-orange-shimmer_left {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(
    -120deg,          /* angle: top more white, bottom less */
    #ffffff 0%,      /* pure white starts at top */
    #ffffff 450%,     /* white covers ~70% of area */
    #FFF9F6 45%,     /* offwhite starts gradually */
    #FFF9F6 100%     /* bottom section offwhite */
  );
}